<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>150389108065-5j7tsudjj6hnpfl8mdctqhlkrl9ci66t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.150389108065-5j7tsudjj6hnpfl8mdctqhlkrl9ci66t</string>
	<key>API_KEY</key>
	<string>AIzaSyBK7M18O4inRfxaK7tVUq9krgOCWch9Gng</string>
	<key>GCM_SENDER_ID</key>
	<string>150389108065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.teleconsultation</string>
	<key>PROJECT_ID</key>
	<string>fcmtest-8658e</string>
	<key>STORAGE_BUCKET</key>
	<string>fcmtest-8658e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:150389108065:ios:f4604bd336a6c26e1ce920</string>
</dict>
</plist>